{% extends 'base.html.twig' %}

{% block title %}See clusters{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <div class="example-wrapper">
        <h1>See clusters</h1>
        {% for key, cluster in clusters %}
            <h2>Cluster {{ key + 1 }}</h2>
            <ul>
                {% for point in cluster %}
                    <li>
                        {% for axis, coordinate in point.getCoordinates %}
                            <span>[{{ axis }}] => {{ coordinate }}</span>
                        {% endfor %}
                    </li>
                {% endfor %}
            </ul>
        {% endfor %}
    </div>
{% endblock %}